@typeparam TCardType

<div style="width:@ToPx(CardWidth + (this.Cards.Count * CardSpace)); height:@ToPx(CardHeight + 15)">
    @for (int i = 0; i < this.Cards.Count; ++i)
    {
        var card = this.Cards[i];
        if (card == null)
            continue;

        var xPos = i * CardSpace;
        var yPos = card.Equals(this.SelectedCard) ? 0.0 : 15.0;


        <div @key="card"
             title="@card.ToString()"
             draggable="@CardsCanBeDragged"
             @ondragstart="args => OnDragStart(card)"
             @onclick="args => CardCliecked(card)"
             style="transform: translate(@ToPx(xPos), @ToPx(yPos))">
            @ChildContent(card)
        </div>
    }
</div>